//*-------------------------------
//* Carousel 1
//*-----------------------------*/
#crsWrapper1 {
	@include wide;
	position: relative;
	margin: 40px 0 0px;
}

.crsArrow {
	position: absolute;
	top: valign(109, 12);
	// text-indent: -9999em;
	display: block;
}

#crs1_left{
	left: 0px;
}

#crs1_right{
	right: 0px;	
}

#crsInner1 {
	margin: auto;

	li {
		// margin-right: 15px;
		margin-right: 10px;
	}
}