// .entry {

// }

// same for index and posts
.entry-header {
	margin-bottom: 15px;
}

//------------- TITLE ----------------------
.entry-title
{
	line-height: 1.3;
}

// .entry-title-post {

// }

// .entry-title-index {

// }
//------------------------------------------


.entry-byline {
	margin-top: 5px;
	color: $byline_color;

	a {
		color: $byline_color;

		&:hover {
			text-decoration: underline;
			color: $link_color;
		}
	}
}

.entry {
	@include wide;
}

.entry-content
{
	// @include wide;

	//--block elements
	p, ul, ol, dd, pre hr, dl {
		@include lh;
		margin-bottom: 15px;	
		font-size: 14px;	
	} 

	dt {
		font-weight: bold;
	}

	//--headings
	@include wpsp_headings;

	//--lists
	ul li {
	    list-style: disc inside;
	    
	    ul {
	    	margin-left: 15px;
	    }
	}

	ol li {
	    list-style: decimal inside;
	    
	    ol {
	    	margin-left: 15px;
	    }
	}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 0;
	}
    
	//-- hr
	hr {
		background-color: $hr_color;
		border: 0;
		height: 1px;
		margin: 24px;
		margin-bottom: 1.714285714rem;
	}

	//-- tables
	table {
	    margin: 0 0 20px;
	    width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 1px solid $table_border;
	}

	table caption {
		padding: 0 0 10px;
		font-size: 16px;
		text-align: left;
		font-weight: bold;
	}

	table th {
		padding: 10px;
	    text-align: left;
	    font-weight: bold;
	    background: $table_th_bg;
	}

	table td {
	    padding: 10px;
	    vertical-align: middle;
	}

	table th, 
	table td {
		text-align:left;
		border: 1px solid $table_border;
	}

	table tfoot td {
	 	padding: 5px 10px;
	}

	//--images
    .wp-caption .wp-caption-text, 
    .gallery-caption, 
    .entry-caption {
    	color: $caption_color;
	    // font-size: 0.857143rem;
	    font-style: italic;
	    line-height: 2;
    }

	img, .wp-caption {
		@include fluid_img;
	}

	.alignnone {
		margin: 10px 0;
	}

	.alignleft {
		float: left;
		margin-right: 2em;
		// margin-bottom: 20px;
		display: inline;
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
	}

	.alignright {
		float: right;
		margin-left: 15px;
		display: inline;
	}

} //end .entry

//-- TAGS
.entry-tags {
    padding: 20px 0;
    border-top: 4px double $tags_border;

    .tag-blue {
    	float: left;
    }

	.entry-tags-title {
	    font-weight: bold;
	    font-size: 14px;
	    text-transform: uppercase;
	    padding-left: 7px;
	}  

	a {
	    padding-left: 10px;
	}		 
}






