// #WrapperFooter {
    
// }

// #WrapperFooterHome {}
// #WrapperFooterPage {}

// #WrapperFooterSidebar {

// }

// #WrapperFooterCopyright {

// }

#sidebar-footer
{
	@include wide;
	padding: 20px 0;

    // .widget-first {
        
    // }

    .widget-last {
        float: right;
    }

}

//*-------------------------------
//* Copyrights
//*-----------------------------*/
$footer_height: 35;

#footer-main {
	height: $footer_height + px;
	@include wide;
}

#footer-copyright 
{
	$footer_color: inherit;

	margin-left: 20px;
	float: left;
	@include mtop($footer_height, 12);
	color: $footer_color;

	a {
		color: $footer_color;
	}
}

@if $FOOTER_SEARCH
{
	#footer-search {
		$footerSearch_h: 23;
		$button_h: 20;
		background: #ccc;
		width: 195px;

		float: right;	
		margin-right: 20px;
		height: pxx($footerSearch_h);
		@include mtop($footer_height, $footerSearch_h);

		position: relative;

		#footer-search-inputbox {
			width: 170px;
			height: pxx($footerSearch_h);
			padding: 0;
			margin-left: 5px;
			border: none;
			background: none;
		}

		#footer-search-button {
			position: absolute;
			right: 5px;
			top: valign($footerSearch_h, $button_h);
		}
	}	
}