//*-------------------------------
//* Header Wrapper
//*-----------------------------*/
@if $WIDE_SLIDER {
	.body_home  {
		#WrapperHeader {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 100;
		}
	}	
}

// #WrapperHeader {

// }

//*-------------------------------
//* Header
//*-----------------------------*/
$logo_img_w: 149;
$logo_img_h: 41;
$logo_div_h: 90;
$logo_align_bottom: false;  // u situaciji kada je navbar on the right, ovo odreduje da li ce logo biti na sredinu ili na dnu

$headerRight_w: $site_width - $logo_img_w;
$headerRight_h: $logo_div_h;

$navbarWidth: 100%;

//------navbar on the right-------------------------
@if $NAVBAR_ON_RIGHT {
	$headerRight_h: 75; //$logo_div_h - $navbarHeight;    !!! CHANGE THIS
	$navbarWidth: pxx($headerRight_w);
}
//--------------------------------------------------

#header-main {
	@include wide;
}

//--------------------------------
//- Logo
//--------------------------------
#logo_wrapper 
{
	//style
	height: pxx($logo_div_h);
    width: pxx($logo_img_w);
    float: left;
    position: relative;

    //link
    a {
    	text-indent: -9999em;
	    display: block;

	    //absolute position
	    // z-index: 100;
	    // position: absolute;
	    // bottom: -50px;
    }

    //h tag
    @if $logo_div_h != $logo_img_h 
    {
    	h1 {
	    	@if $logo_align_bottom {
		    	margin-top: pxx($logo_div_h - $logo_img_h);
		    } @else {
		    	@include mtop($logo_div_h, $logo_img_h);
		    }
	    } 
    }
}

//--------------------------------
//- Header right
//--------------------------------
#headerRight {
	float: right;
	width: pxx($headerRight_w);
	height: pxx($headerRight_h);
	position: relative;
}

#headerSearch {
	$h: 23;
	$button_h: 20;
	background: #f5f5f5;

	position: absolute;
	top: 50%;
	right: 200px;

	width: 200px;
	height: pxx($h);

	.headerSearch_input {
		width: 170px;
		height: pxx($h);
		padding: 0;
		margin-left: 5px;
		@include iClear;
		float: left;
		color: #fff;
	}

	.submit-button {
		float: right;
		margin-right: 5px;
		margin-top: 2px;
		// @include mtop($h, $button_h);
	}
}

#headerIcons {
	position: absolute;
	right: 0;
	top: 50%;

	ul {
		display: table;
	}

	li {
		display: table-cell;
	    vertical-align: middle;
	    padding-left: 10px;
	}

	a {
		text-indent: -9999em;
		display: block;
	}
}

// #headerPhone {
// 	float: right;
// 	margin-right: 20px;
// }

//--------------------------------
//- Navigation
//--------------------------------
#navbarWrapper {
	@include wide;
	background: #666;
	width: $navbarWidth;
	position: relative;
}

#navbar {
	float: left;

	//navbar on right, absolute logo
	// float: right;
	// width: 700px;

	#navbar-menu 
	{
		float: left;

		//current page
		> li.current_page_item {
			> a {
				// CHANGE
				color: #0000ff;
			}
		}

		//--First Level
		> li {
			//stay hovered
			&:hover {
				background: $dropdown_bg;

				// > a {

				// }
			}

			> a {
				//CHANGE here
				padding: 5px 10px;
			}
		}
	} //end navbar-menu
}

.dropdown // ul element
{
	li {
		float: left;
		position: relative;
	}

	//--all links
	li a { 
		color: $dropdown_color;
	    padding: 5px 10px;
	    display: block;

	    &:hover {
	    	text-decoration: none;
	    }
	}

	//--Levels
	ul.sub-menu {
	    background: $dropdown_bg;
	    position: absolute;
	    top: 100%;
	    z-index: 1000;
	    padding: 10px 0;
	    display: none;

		li {
		    clear: left;
		    min-width: 170px;
		    margin: 0;

		    a {
			    border-radius: 2px;
			    display: block;
			    font-size: 11px;
			    line-height: 18px;
			    margin: 0 10px;
			    padding: 4px 10px;
			    position: relative;		    	
		    }

		    a:hover {
		    	text-decoration: none;
		    	background: $dropdown_bg_hover;
		    }

		} //end li

		.menuHovered {
			background: $dropdown_bg_hover;
		}

		//--Third level
		li ul {
		    background: $dropdown_bg;
		    left: 100%;
		    top: 0;
		    display: none;
		}

		li ul li {
		    clear:both;
		}			

	} //end .sub-menu

} //end .dropdown