* {
    outline: 0;
    @include box-sizing(border-box);
}

textarea { overflow: auto; }

a {
	text-decoration: none;
	color: $link_color;

	&:hover {
		text-decoration: underline;
	}
}

abbr, dfn, dfn, acronym {
    border-bottom: 1px dotted $abbr_border;
    cursor: help;
}

ins {
    text-decoration: underline;
}

dl {
	margin: 0 2em;
}

em, cite {
	font-style: oblique;
}

strong {
	font-weight: bold;
}

pre {
	border: 1px solid $pre_border;
    color: unherit;
    font-family: Consolas,Monaco,Lucida Console,monospace;
    font-size: 0.857143rem;
    line-height: 1.71429;
    margin: 1.71429rem 0;
    overflow: auto;
    padding: 1.71429rem;
}

//-- blockquote
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

.entry-content blockquote {
    font-style: italic;
    margin-bottom: 1.71429rem;
    padding: 1.71429rem;
}

blockquote, q {
    quotes: none;
}

//*-------------------------------
//* Inputs
//*-----------------------------*/
.required {
    color: red;
}

input[type='text'],
textarea {
    border: 1px solid $input_border;
    padding: $input_padding;
    font-size: 12px;
    margin: 0;
    font-family: Arial, sans-serif;
    color: inherit;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;   
}

.submit-button {
    text-indent: -9999em;
    border: none;
    cursor: pointer;
}