.entrybox,
.entrybox-header,
.entrybox-content {
	@include wide;
}

.entrybox {   
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid $index_border_bottom;	
}

//.entry-title-index    DEFINED IN _entry.scss

.entrybox-content 
{
    img.post-thumb {
	    width: 170px;
	    height: 145px;
	    float: left;
	    margin-right: 2em;
	    box-shadow: $img_shadow;
	    border-radius: 3px;
	}

	p {
		@include lh;
	}

	.readmore {
	    margin-top: 20px;
	    float: left;
	    font-size: 14px;
	    font-weight: bold;
	    color: inherit;
	}
	.readmore:visited {
	    color: inherit;
	}	
}