//*-------------------------------
//* Layout
//*-----------------------------*/
body {
	font-size: 12px;
	color: $body_color;
}

// .body_home {
// 	#WrapperHeader {

// 	}

// 	#WrapperFooter {

// 	}
// }

//-----------------------

// .body_page {
// 	#WrapperHeader {
		
// 	}	

// 	#WrapperFooter {
		
// 	}
// }

.wrapper {
	@include wide;
}

.container {
	width: pxx($site_width); //if using grid remove this for fluid bg
	margin: 0 auto;

	&:after {
		clear: both;
	    content: "";
	    display: table;
	}
}


//*-------------------------------------
//* Content area: entries and sidebar
//*-----------------------------------*/
.container-content {
	position: relative;
	@include wide;
	overflow: hidden;
}

$content-area-padding: 20px;
$content-area-margin: 20px 0;

.container-entries
{
	width: 720px;
	float: left;

	padding: $content-area-padding;
	margin: $content-area-margin;	
}

.sidebar
{	
	//dimension and position
	width: 240px;
	float: right;
	padding-top: $content-area-padding;
	margin: $content-area-margin;

	//-- same height as content --
	// padding-bottom: 32767px;
    // margin-bottom: -32767px;
}

// #sidebar-home {
	
// }

//--------------------------------
//- Wrapper Content
//--------------------------------
// #WrapperContent {

// }

//*-------------------------------
//*  full width
//*-----------------------------*/
.container-entries-full {
	float: left;
	width: 100%;
	padding: 20px;
}
