@function pxx($el) {
	@return $el + px;
}

@function valign($x, $y) {
    @return (($x - $y) / 2) + px;
}

@mixin mtop($x, $y) {
    margin-top: valign($x, $y);
}

@mixin wide {
    float: left;
    width: 100%;
}

// p line height
@mixin lh {
	line-height: 1.5;
}

@mixin lh3 {
	line-height: 1.3;
}

// fluid image
@mixin fluid_img {
	height: auto;
    max-width: 100%;	
}

// test bg
@mixin test($color: #ccc) {
	background: $color;
}

//input field
@mixin iClear {
	background: none;
	border: none;
}

//headings
@mixin wpsp_headings
{
	#{headings()} {
		font-weight: bold;
		margin-bottom: 5px;
	}

	h1 {font-size: 24px;}
	h2 {font-size: 18px;}
	h3 {font-size: 16px;}
	h4 {font-size: 14px;}
	h5 {font-size: 12px;}
	h6 {font-size: 12px;}
}

@mixin size($w, $h) {
	width: $w;
	height: $h;
}

//--------------------------------
//- HTML placeholders
//--------------------------------
@mixin placeholders($color) {
	::-webkit-input-placeholder {
	   color: $color;
	}

	:-moz-placeholder { //Firefox 18-
	   color: $color;  
	}

	::-moz-placeholder {  //Firefox 19+
	   color: $color;  
	}

	:-ms-input-placeholder {  
	   color: $color;  
	}
}

//*-------------------------------
//* Buttons
//*-----------------------------*/
@mixin btn_active {
	position: relative;
	top: 1px;	
} 

//grey button
@mixin btn_gray {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	cursor: pointer;	
}


//*-----------------------------------------------------------------------------------------------
//* ELEMENTS SPECIFIC MIXINS
//*----------------------------------------------------------------------------------------------*/
