//==================================================================================================
//= 										Contact Page with Quform
//==================================================================================================

//--------------------------------
//- Address
//--------------------------------
.pageContact_address 
{
	// .wpb_content_element:first-child {

	// }

	
}

//--------------------------------
//- Quform
//--------------------------------
.pageContact_form {
	form {
		margin-left: 30px !important;
	}

	.iphorm-elements {

		.iphorm-element-spacer {
			padding-bottom: 15px;
		}

		.iphorm-element-spacer-textarea {
			padding-bottom: 5px;
		}

		button {
			background: #fff;
			padding: 5px 25px;
			border: 1px solid #ccc;
			font-weight: bold; 
			color: #666;
			text-transform: uppercase;
		}

		textarea {
			width: 100%;
			height: 140px;
		}

		input[type='text'], 
		textarea {
			// width: 80%;
			padding: $input_padding !important;
			
			background: #f5f5f5;
			// border: 0 !important;
		}

		label {
			top: 4px;
			font-weight: bold;
		}

		.iphorm-required {
			color: inherit;
		}
	}
}

//==================================================================================
//= 								DOPTAG Gallery
//==================================================================================
.DOP_ThumbnailGallery_ThumbContainer,
.DOP_ThumbnailGallery_Thumb,
.DOP_ThumbnailGallery_Image,
.DOP_ThumbnailGallery_Image img {
	border-radius: 0 !important;
}