//==================================================================================================
//=                                        Generic style
//==================================================================================================
.widget {
    ul {
        li {
            line-height: 2em;

            //subpages
            ul.children li {
                margin-left: 10px !important;
                list-style: disc inside !important;
            }
        }
    }

    a {
        color: inherit;
    }

    @include wpsp_headings;

    p {
        @include lh;
    }
}

.widget-title {
    padding-bottom: 5px;
    margin-bottom: 10px;
    display: block; 
}

//-------------------------------
//- Default sidebar
//-------------------------------
.widget-sidebar {
    margin: 0 2em 2em 2em;
}

// .widget-title-sidebar {

// }

//--------------------------------
//- Sidebar Footer
//--------------------------------
.widget-footer {
    width: 195px;
    float: left;
    margin: 0 20px;
}

// .widget-title-footer {
    
// }

//--------------------------------
//- Sidebar Home
//--------------------------------
// .widget-home {

// }

// .widget-title-home {
    
// }

//=================================================================================================
//=                                        Single Widgets
//=================================================================================================

//--------------------------------
//- Search widget
//--------------------------------
#widget-search {
    position: relative;
    width: 100%;
    border: 1px solid $input_border;
    background: #fff;

    .sidebar-input {
        border: none;
        padding: 5px;
        width: 80%;
        height: 27px;
    }

    .submit-button {
        position: absolute;
        top: 4px;
        right: 5px;
    }
}


//--------------------------------
//- Quform
//--------------------------------
.widget-footer {

    //ovo je div koji drzi input
    .iphorm-element-spacer {
        padding-bottom: 2px;

        label {
            top: 3px;
        }
    }

    .iphorm-element-spacer-captcha {
        label {
            top: 0;
        }
    }

    .ifb-captcha-image-inner {
        img {
            height: 30px;
        }
    }

    //Inputs
    .iphorm-element-text,
    .iphorm-element-textarea {
        width: 100%;
    }

    .iphorm-element-text {
        padding: 4px 2px !important;
    }

    .iphorm-element-textarea {
        height: 50px;
    }

    //button
    .iphorm-submit-wrap {
        margin: 0;
    }

    .iphorm-submit-element {
        padding: 5px 20px;
        background: #ccc;
    }
}

//--------------------------------
//- Text widget
//--------------------------------
.textwidget
{
    p, ul, ol {
        margin-bottom: 10px;
    }

    ul {
        list-style: disc inside;

        li {
            line-height: 1.5;
        }
    }

    ol {
        list-style: decimal inside;
    }

    img {
        @include fluid_img;
    }
}