html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

.sprites { background-image: url(../images/sprites.png); background-color: transparent; background-repeat: no-repeat; }

.logo { background-position: -0px -0px; width: 149px; height: 41px; }

.icon-twitter-header { background-position: -0px -41px; width: 32px; height: 32px; }

.icon-facebook-header { background-position: -32px -41px; width: 32px; height: 32px; }

.search-dark { background-position: -64px -41px; width: 20px; height: 20px; }

.tag-blue { background-position: -84px -41px; width: 16px; height: 16px; }

.search-white { background-position: -100px -41px; width: 14px; height: 15px; }

.button-trans { background-position: -114px -41px; width: 15px; height: 15px; }

body { font-family: Arial, sans-serif; }

.entry-title { font-weight: bold; font-size: 22px; color: inherit; }

.widget-title { font-size: 18px; font-weight: bold; }

body { font-size: 12px; color: #444444; }

.wrapper { float: left; width: 100%; }

.container { width: 980px; margin: 0 auto; }
.container:after { clear: both; content: ""; display: table; }

.container-content { position: relative; float: left; width: 100%; overflow: hidden; }

.container-entries { width: 720px; float: left; padding: 20px; margin: 20px 0; }

.sidebar { width: 240px; float: right; padding-top: 20px; margin: 20px 0; }

.container-entries-full { float: left; width: 100%; padding: 20px; }

* { outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

textarea { overflow: auto; }

a { text-decoration: none; color: #0066ff; }
a:hover { text-decoration: underline; }

abbr, dfn, dfn, acronym { border-bottom: 1px dotted #666666; cursor: help; }

ins { text-decoration: underline; }

dl { margin: 0 2em; }

em, cite { font-style: oblique; }

strong { font-weight: bold; }

pre { border: 1px solid #ededed; color: unherit; font-family: Consolas,Monaco,Lucida Console,monospace; font-size: 0.857143rem; line-height: 1.71429; margin: 1.71429rem 0; overflow: auto; padding: 1.71429rem; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

.entry-content blockquote { font-style: italic; margin-bottom: 1.71429rem; padding: 1.71429rem; }

blockquote, q { quotes: none; }

.required { color: red; }

input[type='text'], textarea { border: 1px solid #cccccc; padding: 0.5em 1em; font-size: 12px; margin: 0; font-family: Arial, sans-serif; color: inherit; }

input, textarea { outline: none; }

textarea { resize: none; }

.submit-button { text-indent: -9999em; border: none; cursor: pointer; }

#header-main { float: left; width: 100%; }

#logo_wrapper { height: 90px; width: 149px; float: left; position: relative; }
#logo_wrapper a { text-indent: -9999em; display: block; }
#logo_wrapper h1 { margin-top: 24.5px; }

#headerRight { float: right; width: 831px; height: 90px; position: relative; }

#headerSearch { background: #f5f5f5; position: absolute; top: 50%; right: 200px; width: 200px; height: 23px; }
#headerSearch .headerSearch_input { width: 170px; height: 23px; padding: 0; margin-left: 5px; background: none; border: none; float: left; color: #fff; }
#headerSearch .submit-button { float: right; margin-right: 5px; margin-top: 2px; }

#headerIcons { position: absolute; right: 0; top: 50%; }
#headerIcons ul { display: table; }
#headerIcons li { display: table-cell; vertical-align: middle; padding-left: 10px; }
#headerIcons a { text-indent: -9999em; display: block; }

#navbarWrapper { float: left; width: 100%; background: #666; width: 100%; position: relative; }

#navbar { float: left; }
#navbar #navbar-menu { float: left; }
#navbar #navbar-menu > li.current_page_item > a { color: #0000ff; }
#navbar #navbar-menu > li:hover { background: #1a1a1a; }
#navbar #navbar-menu > li > a { padding: 5px 10px; }

.dropdown li { float: left; position: relative; }
.dropdown li a { color: white; padding: 5px 10px; display: block; }
.dropdown li a:hover { text-decoration: none; }
.dropdown ul.sub-menu { background: #1a1a1a; position: absolute; top: 100%; z-index: 1000; padding: 10px 0; display: none; }
.dropdown ul.sub-menu li { clear: left; min-width: 170px; margin: 0; }
.dropdown ul.sub-menu li a { border-radius: 2px; display: block; font-size: 11px; line-height: 18px; margin: 0 10px; padding: 4px 10px; position: relative; }
.dropdown ul.sub-menu li a:hover { text-decoration: none; background: #444444; }
.dropdown ul.sub-menu .menuHovered { background: #444444; }
.dropdown ul.sub-menu li ul { background: #1a1a1a; left: 100%; top: 0; display: none; }
.dropdown ul.sub-menu li ul li { clear: both; }

.widget ul li { line-height: 2em; }
.widget ul li ul.children li { margin-left: 10px !important; list-style: disc inside !important; }
.widget a { color: inherit; }
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 { font-weight: bold; margin-bottom: 5px; }
.widget h1 { font-size: 24px; }
.widget h2 { font-size: 18px; }
.widget h3 { font-size: 16px; }
.widget h4 { font-size: 14px; }
.widget h5 { font-size: 12px; }
.widget h6 { font-size: 12px; }
.widget p { line-height: 1.5; }

.widget-title { padding-bottom: 5px; margin-bottom: 10px; display: block; }

.widget-sidebar { margin: 0 2em 2em 2em; }

.widget-footer { width: 195px; float: left; margin: 0 20px; }

#widget-search { position: relative; width: 100%; border: 1px solid #cccccc; background: #fff; }
#widget-search .sidebar-input { border: none; padding: 5px; width: 80%; height: 27px; }
#widget-search .submit-button { position: absolute; top: 4px; right: 5px; }

.widget-footer .iphorm-element-spacer { padding-bottom: 2px; }
.widget-footer .iphorm-element-spacer label { top: 3px; }
.widget-footer .iphorm-element-spacer-captcha label { top: 0; }
.widget-footer .ifb-captcha-image-inner img { height: 30px; }
.widget-footer .iphorm-element-text, .widget-footer .iphorm-element-textarea { width: 100%; }
.widget-footer .iphorm-element-text { padding: 4px 2px !important; }
.widget-footer .iphorm-element-textarea { height: 50px; }
.widget-footer .iphorm-submit-wrap { margin: 0; }
.widget-footer .iphorm-submit-element { padding: 5px 20px; background: #ccc; }

.textwidget p, .textwidget ul, .textwidget ol { margin-bottom: 10px; }
.textwidget ul { list-style: disc inside; }
.textwidget ul li { line-height: 1.5; }
.textwidget ol { list-style: decimal inside; }
.textwidget img { height: auto; max-width: 100%; }

.entrybox, .entrybox-header, .entrybox-content { float: left; width: 100%; }

.entrybox { padding-bottom: 25px; margin-bottom: 20px; border-bottom: 1px solid #cccccc; }

.entrybox-content img.post-thumb { width: 170px; height: 145px; float: left; margin-right: 2em; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); border-radius: 3px; }
.entrybox-content p { line-height: 1.5; }
.entrybox-content .readmore { margin-top: 20px; float: left; font-size: 14px; font-weight: bold; color: inherit; }
.entrybox-content .readmore:visited { color: inherit; }

.entry-header { margin-bottom: 15px; }

.entry-title { line-height: 1.3; }

.entry-byline { margin-top: 5px; color: #a6a6a6; }
.entry-byline a { color: #a6a6a6; }
.entry-byline a:hover { text-decoration: underline; color: #0066ff; }

.entry { float: left; width: 100%; }

.entry-content p, .entry-content ul, .entry-content ol, .entry-content dd, .entry-content pre hr, .entry-content dl { line-height: 1.5; margin-bottom: 15px; font-size: 14px; }
.entry-content dt { font-weight: bold; }
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 { font-weight: bold; margin-bottom: 5px; }
.entry-content h1 { font-size: 24px; }
.entry-content h2 { font-size: 18px; }
.entry-content h3 { font-size: 16px; }
.entry-content h4 { font-size: 14px; }
.entry-content h5 { font-size: 12px; }
.entry-content h6 { font-size: 12px; }
.entry-content ul li { list-style: disc inside; }
.entry-content ul li ul { margin-left: 15px; }
.entry-content ol li { list-style: decimal inside; }
.entry-content ol li ol { margin-left: 15px; }
.entry-content ul ul, .entry-content ol ol, .entry-content ul ol, .entry-content ol ul { margin-bottom: 0; }
.entry-content hr { background-color: #cccccc; border: 0; height: 1px; margin: 24px; margin-bottom: 1.714285714rem; }
.entry-content table { margin: 0 0 20px; width: 100%; border-collapse: collapse; border-spacing: 0; border: 1px solid #cccccc; }
.entry-content table caption { padding: 0 0 10px; font-size: 16px; text-align: left; font-weight: bold; }
.entry-content table th { padding: 10px; text-align: left; font-weight: bold; background: #ededed; }
.entry-content table td { padding: 10px; vertical-align: middle; }
.entry-content table th, .entry-content table td { text-align: left; border: 1px solid #cccccc; }
.entry-content table tfoot td { padding: 5px 10px; }
.entry-content .wp-caption .wp-caption-text, .entry-content .gallery-caption, .entry-content .entry-caption { color: #a6a6a6; font-style: italic; line-height: 2; }
.entry-content img, .entry-content .wp-caption { height: auto; max-width: 100%; }
.entry-content .alignnone { margin: 10px 0; }
.entry-content .alignleft { float: left; margin-right: 2em; display: inline; }
.entry-content .aligncenter { display: block; margin: 0 auto; }
.entry-content .alignright { float: right; margin-left: 15px; display: inline; }

.entry-tags { padding: 20px 0; border-top: 4px double #ededed; }
.entry-tags .tag-blue { float: left; }
.entry-tags .entry-tags-title { font-weight: bold; font-size: 14px; text-transform: uppercase; padding-left: 7px; }
.entry-tags a { padding-left: 10px; }

#comments-container { margin: 20px 0; }

#comments-count-head { font-size: 18px; font-weight: bold; padding: 10px; text-transform: uppercase; color: inherit; text-align: center; background: #ededed; }

.commentlist .children { margin-left: 4em; }

.comment-body { padding-bottom: 2em; border-bottom: 1px solid #ededed; margin-top: 2em; }

.comment-body .avatar { float: left; padding: 2px; width: 57px; height: 57px; margin-right: 2em; margin-bottom: 1em; }

.comment-content .moderation { color: red; margin-bottom: 1em; }

.comment-header { margin-bottom: 1em; }

.comment-metadata { margin-top: 4px; font-size: 11px; }
.comment-metadata a, .comment-metadata span { color: #a6a6a6; }
.comment-metadata a:hover { text-decoration: underline; color: #0066ff; }

.comment-text { line-height: 1.5; }

#container-pings { padding: 20px 0; width: 100%; }
#container-pings p { line-height: 1.5; }

#pings-title { font-size: 16px; font-weight: bold; }

.ping-title { font-size: 11px; }

li.pings { padding: 10px; border-bottom: 1px dashed #ededed; }

#respond { padding: 2em 0 1em; }
#respond #respond-head { font-size: 20px; }
#respond .cancel-comment-reply { margin: 1em 0; }
#respond .cancel-comment-reply a { color: red; }
#respond #commentform { margin-top: 2em; }
#respond input[type='text'], #respond textarea { border-radius: 3px; background: white; }
#respond input[type='text'] { width: 35%; margin-bottom: 1em; margin-right: 1em; }
#respond textarea { width: 60%; }
#respond .comment-admin-logged { margin-bottom: 1em; }

#comment-submit { padding: 6px 10px; padding: 0.428571429rem 0.714285714rem; font-size: 11px; font-size: 0.785714286rem; line-height: 1.428571429; font-weight: normal; color: #7c7c7c; background-color: #e6e6e6; background-repeat: repeat-x; background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6); background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6); background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6); background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6); background-image: linear-gradient(top, #f4f4f4, #e6e6e6); border: 1px solid #d2d2d2; border-radius: 3px; box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1); cursor: pointer; margin: 1em 0 0 0; color: inherit; }
#comment-submit:active { position: relative; top: 1px; }

#sidebar-footer { float: left; width: 100%; padding: 20px 0; }
#sidebar-footer .widget-last { float: right; }

#footer-main { height: 35px; float: left; width: 100%; }

#footer-copyright { margin-left: 20px; float: left; margin-top: 11.5px; color: inherit; }
#footer-copyright a { color: inherit; }

#footer-search { background: #ccc; width: 195px; float: right; margin-right: 20px; height: 23px; margin-top: 6px; position: relative; }
#footer-search #footer-search-inputbox { width: 170px; height: 23px; padding: 0; margin-left: 5px; border: none; background: none; }
#footer-search #footer-search-button { position: absolute; right: 5px; top: 1.5px; }

#errorbox { float: left; width: 100%; line-height: 1.5; }

#errorbox h1 { border-bottom: 3px double #cccccc; font-size: 24px; padding-bottom: 3px; margin-bottom: 10px; }

#error-search { float: left; margin-top: 10px; }

#error-search form { width: 300px; }

.pagination { padding: 20px 0; position: relative; font-size: 11px; line-height: 13px; float: left; }

.pagination span, .pagination a { display: block; float: left; margin: 2px 2px 2px 0; padding: 6px 9px 5px 9px; text-decoration: none; width: auto; color: #fff; background: #cccccc; }
.pagination span:hover, .pagination a:hover { background: #0066ff; }

.pagination a:visited { color: #fff; }

.pagination .current { padding: 6px 9px 5px 9px; background: #0066ff; }

.pageContact_form form { margin-left: 30px !important; }
.pageContact_form .iphorm-elements .iphorm-element-spacer { padding-bottom: 15px; }
.pageContact_form .iphorm-elements .iphorm-element-spacer-textarea { padding-bottom: 5px; }
.pageContact_form .iphorm-elements button { background: #fff; padding: 5px 25px; border: 1px solid #ccc; font-weight: bold; color: #666; text-transform: uppercase; }
.pageContact_form .iphorm-elements textarea { width: 100%; height: 140px; }
.pageContact_form .iphorm-elements input[type='text'], .pageContact_form .iphorm-elements textarea { padding: 0.5em 1em !important; background: #f5f5f5; }
.pageContact_form .iphorm-elements label { top: 4px; font-weight: bold; }
.pageContact_form .iphorm-elements .iphorm-required { color: inherit; }

.DOP_ThumbnailGallery_ThumbContainer, .DOP_ThumbnailGallery_Thumb, .DOP_ThumbnailGallery_Image, .DOP_ThumbnailGallery_Image img { border-radius: 0 !important; }

#WrapperSlider { height: 600px; }

.container-slider { position: relative; margin: auto; max-width: 980px; }

.camera_wrap a, .camera_wrap img, .camera_wrap ol, .camera_wrap ul, .camera_wrap li, .camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td .camera_thumbs_wrap a, .camera_thumbs_wrap img, .camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li, .camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td { background: none; border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; list-style: none; }

.camera_wrap { display: none; float: left; position: relative; z-index: 0; }

.camera_wrap img { max-width: none !important; }

.camera_fakehover { height: 100%; min-height: 60px; position: relative; width: 100%; z-index: 1; }

.camera_wrap { width: 100%; }

.camera_src { display: none; }

.cameraCont, .cameraContents { height: 100%; position: relative; width: 100%; z-index: 1; }

.cameraSlide { bottom: 0; left: 0; position: absolute; right: 0; top: 0; width: 100%; }

.cameraContent { bottom: 0; display: none; left: 0; position: absolute; right: 0; top: 0; width: 100%; }

.camera_target { bottom: 0; height: 100%; left: 0; overflow: hidden; position: absolute; right: 0; text-align: left; top: 0; width: 100%; z-index: 0; }

.camera_overlayer { bottom: 0; height: 100%; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%; z-index: 0; }

.camera_target_content { bottom: 0; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 2; }

.camera_target_content .camera_link { background: url(../images/camera/blank.gif); display: block; height: 100%; text-decoration: none; }

.camera_loader { background: white url(../images/camera/camera-loader.gif) no-repeat center; background: rgba(255, 255, 255, 0.9) url(../images/camera/camera-loader.gif) no-repeat center; border: 1px solid #ffffff; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; height: 36px; left: 50%; overflow: hidden; position: absolute; margin: -18px 0 0 -18px; top: 50%; width: 36px; z-index: 3; }

.camera_bar { bottom: 0; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; z-index: 3; }

.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar { height: 100%; position: absolute; width: auto; }

.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar { height: auto; position: absolute; width: 100%; }

.camera_nav_cont { height: 65px; overflow: hidden; position: absolute; right: 9px; top: 15px; width: 120px; z-index: 4; }

.camera_caption { bottom: 0; display: block; position: absolute; width: 100%; }

.camera_caption > div { padding: 10px 20px; }

.camerarelative { overflow: hidden; position: relative; }

.imgFake { cursor: pointer; }

.camera_prevThumbs { bottom: 4px; cursor: pointer; left: 0; position: absolute; top: 4px; visibility: hidden; width: 30px; z-index: 10; }

.camera_prevThumbs div { background: url(../images/camera/camera_skins.png) no-repeat -160px 0; display: block; height: 40px; margin-top: -20px; position: absolute; top: 50%; width: 30px; }

.camera_nextThumbs { bottom: 4px; cursor: pointer; position: absolute; right: 0; top: 4px; visibility: hidden; width: 30px; z-index: 10; }

.camera_nextThumbs div { background: url(../images/camera/camera_skins.png) no-repeat -190px 0; display: block; height: 40px; margin-top: -20px; position: absolute; top: 50%; width: 30px; }

.camera_command_wrap .hideNav { display: none; }

.camera_command_wrap { left: 0; position: relative; right: 0; z-index: 4; }

.camera_wrap .camera_pag .camera_pag_ul { list-style: none; margin: 0; padding: 0; text-align: right; }

.camera_wrap .camera_pag .camera_pag_ul li { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; cursor: pointer; display: inline-block; height: 16px; margin: 20px 5px; position: relative; text-align: left; text-indent: -9999px; width: 16px; }

.camera_commands_emboss .camera_pag .camera_pag_ul li { -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_wrap .camera_pag .camera_pag_ul li > span { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; height: 8px; left: 4px; overflow: hidden; position: absolute; top: 4px; width: 8px; }

.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span { -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.camera_pag_ul li img { display: none; position: absolute; }

.camera_pag_ul .thumb_arrow { border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid; top: 0; left: 50%; margin-left: -4px; position: absolute; }

.camera_prev, .camera_next, .camera_commands { cursor: pointer; height: 40px; margin-top: -20px; position: absolute; top: 50%; width: 40px; z-index: 2; }

.camera_prev { left: 0; }

.camera_prev > span { background: url(../images/camera/camera_skins.png) no-repeat 0 0; display: block; height: 40px; width: 40px; }

.camera_next { right: 0; }

.camera_next > span { background: url(../images/camera/camera_skins.png) no-repeat -40px 0; display: block; height: 40px; width: 40px; }

.camera_commands { right: 41px; }

.camera_commands > .camera_play { background: url(../images/camera/camera_skins.png) no-repeat -80px 0; height: 40px; width: 40px; }

.camera_commands > .camera_stop { background: url(../images/camera/camera_skins.png) no-repeat -120px 0; display: block; height: 40px; width: 40px; }

.camera_wrap .camera_pag .camera_pag_ul li { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; cursor: pointer; display: inline-block; height: 16px; margin: 20px 5px; position: relative; text-indent: -9999px; width: 16px; }

.camera_thumbs_cont { -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; overflow: hidden; position: relative; width: 100%; }

.camera_commands_emboss .camera_thumbs_cont { -moz-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: 0px 1px 0px white, inset 0px 1px 1px rgba(0, 0, 0, 0.2); }

.camera_thumbs_cont > div { float: left; width: 100%; }

.camera_thumbs_cont ul { overflow: hidden; padding: 3px 4px 8px; position: relative; text-align: center; }

.camera_thumbs_cont ul li { display: inline; padding: 0 4px; }

.camera_thumbs_cont ul li > img { border: 1px solid; cursor: pointer; margin-top: 5px; vertical-align: bottom; }

.camera_clear { display: block; clear: both; }

.showIt { display: none; }

.camera_clear { clear: both; display: block; height: 1px; margin: -1px 0 25px; position: relative; }

/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer { background: url(../images/camera/patterns/overlay1.png) repeat; }

.pattern_2 .camera_overlayer { background: url(../images/camera/patterns/overlay2.png) repeat; }

.pattern_3 .camera_overlayer { background: url(../images/camera/patterns/overlay3.png) repeat; }

.pattern_4 .camera_overlayer { background: url(../images/camera/patterns/overlay4.png) repeat; }

.pattern_5 .camera_overlayer { background: url(../images/camera/patterns/overlay5.png) repeat; }

.pattern_6 .camera_overlayer { background: url(../images/camera/patterns/overlay6.png) repeat; }

.pattern_7 .camera_overlayer { background: url(../images/camera/patterns/overlay7.png) repeat; }

.pattern_8 .camera_overlayer { background: url(../images/camera/patterns/overlay8.png) repeat; }

.pattern_9 .camera_overlayer { background: url(../images/camera/patterns/overlay9.png) repeat; }

.pattern_10 .camera_overlayer { background: url(../images/camera/patterns/overlay10.png) repeat; }

.camera_caption { color: #fff; }

.camera_caption > div { background: #000; background: rgba(0, 0, 0, 0.8); }

.camera_wrap .camera_pag .camera_pag_ul li { background: #b7b7b7; }

.camera_wrap .camera_pag .camera_pag_ul li:hover > span { background: #b7b7b7; }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span { background: #434648; }

.camera_pag_ul li img { border: 4px solid #e6e6e6; -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5); }

.camera_pag_ul .thumb_arrow { border-top-color: #e6e6e6; }

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont { background: #d8d8d8; background: rgba(216, 216, 216, 0.85); }

.camera_wrap .camera_pag .camera_pag_ul li { background: #b7b7b7; }

.camera_thumbs_cont ul li > img { border: 1px solid #000; }

/*AMBER SKIN*/
.camera_amber_skin .camera_prevThumbs div { background-position: -160px -160px; }

.camera_amber_skin .camera_nextThumbs div { background-position: -190px -160px; }

.camera_amber_skin .camera_prev > span { background-position: 0 -160px; }

.camera_amber_skin .camera_next > span { background-position: -40px -160px; }

.camera_amber_skin .camera_commands > .camera_play { background-position: -80px -160px; }

.camera_amber_skin .camera_commands > .camera_stop { background-position: -120px -160px; }

/*ASH SKIN*/
.camera_ash_skin .camera_prevThumbs div { background-position: -160px -200px; }

.camera_ash_skin .camera_nextThumbs div { background-position: -190px -200px; }

.camera_ash_skin .camera_prev > span { background-position: 0 -200px; }

.camera_ash_skin .camera_next > span { background-position: -40px -200px; }

.camera_ash_skin .camera_commands > .camera_play { background-position: -80px -200px; }

.camera_ash_skin .camera_commands > .camera_stop { background-position: -120px -200px; }

/*AZURE SKIN*/
.camera_azure_skin .camera_prevThumbs div { background-position: -160px -240px; }

.camera_azure_skin .camera_nextThumbs div { background-position: -190px -240px; }

.camera_azure_skin .camera_prev > span { background-position: 0 -240px; }

.camera_azure_skin .camera_next > span { background-position: -40px -240px; }

.camera_azure_skin .camera_commands > .camera_play { background-position: -80px -240px; }

.camera_azure_skin .camera_commands > .camera_stop { background-position: -120px -240px; }

/*BEIGE SKIN*/
.camera_beige_skin .camera_prevThumbs div { background-position: -160px -120px; }

.camera_beige_skin .camera_nextThumbs div { background-position: -190px -120px; }

.camera_beige_skin .camera_prev > span { background-position: 0 -120px; }

.camera_beige_skin .camera_next > span { background-position: -40px -120px; }

.camera_beige_skin .camera_commands > .camera_play { background-position: -80px -120px; }

.camera_beige_skin .camera_commands > .camera_stop { background-position: -120px -120px; }

/*BLACK SKIN*/
.camera_black_skin .camera_prevThumbs div { background-position: -160px -40px; }

.camera_black_skin .camera_nextThumbs div { background-position: -190px -40px; }

.camera_black_skin .camera_prev > span { background-position: 0 -40px; }

.camera_black_skin .camera_next > span { background-position: -40px -40px; }

.camera_black_skin .camera_commands > .camera_play { background-position: -80px -40px; }

.camera_black_skin .camera_commands > .camera_stop { background-position: -120px -40px; }

/*BLUE SKIN*/
.camera_blue_skin .camera_prevThumbs div { background-position: -160px -280px; }

.camera_blue_skin .camera_nextThumbs div { background-position: -190px -280px; }

.camera_blue_skin .camera_prev > span { background-position: 0 -280px; }

.camera_blue_skin .camera_next > span { background-position: -40px -280px; }

.camera_blue_skin .camera_commands > .camera_play { background-position: -80px -280px; }

.camera_blue_skin .camera_commands > .camera_stop { background-position: -120px -280px; }

/*BROWN SKIN*/
.camera_brown_skin .camera_prevThumbs div { background-position: -160px -320px; }

.camera_brown_skin .camera_nextThumbs div { background-position: -190px -320px; }

.camera_brown_skin .camera_prev > span { background-position: 0 -320px; }

.camera_brown_skin .camera_next > span { background-position: -40px -320px; }

.camera_brown_skin .camera_commands > .camera_play { background-position: -80px -320px; }

.camera_brown_skin .camera_commands > .camera_stop { background-position: -120px -320px; }

/*BURGUNDY SKIN*/
.camera_burgundy_skin .camera_prevThumbs div { background-position: -160px -360px; }

.camera_burgundy_skin .camera_nextThumbs div { background-position: -190px -360px; }

.camera_burgundy_skin .camera_prev > span { background-position: 0 -360px; }

.camera_burgundy_skin .camera_next > span { background-position: -40px -360px; }

.camera_burgundy_skin .camera_commands > .camera_play { background-position: -80px -360px; }

.camera_burgundy_skin .camera_commands > .camera_stop { background-position: -120px -360px; }

/*CHARCOAL SKIN*/
.camera_charcoal_skin .camera_prevThumbs div { background-position: -160px -400px; }

.camera_charcoal_skin .camera_nextThumbs div { background-position: -190px -400px; }

.camera_charcoal_skin .camera_prev > span { background-position: 0 -400px; }

.camera_charcoal_skin .camera_next > span { background-position: -40px -400px; }

.camera_charcoal_skin .camera_commands > .camera_play { background-position: -80px -400px; }

.camera_charcoal_skin .camera_commands > .camera_stop { background-position: -120px -400px; }

/*CHOCOLATE SKIN*/
.camera_chocolate_skin .camera_prevThumbs div { background-position: -160px -440px; }

.camera_chocolate_skin .camera_nextThumbs div { background-position: -190px -440px; }

.camera_chocolate_skin .camera_prev > span { background-position: 0 -440px; }

.camera_chocolate_skin .camera_next > span { background-position: -40px -440px; }

.camera_chocolate_skin .camera_commands > .camera_play { background-position: -80px -440px; }

.camera_chocolate_skin .camera_commands > .camera_stop { background-position: -120px -440px; }

/*COFFEE SKIN*/
.camera_coffee_skin .camera_prevThumbs div { background-position: -160px -480px; }

.camera_coffee_skin .camera_nextThumbs div { background-position: -190px -480px; }

.camera_coffee_skin .camera_prev > span { background-position: 0 -480px; }

.camera_coffee_skin .camera_next > span { background-position: -40px -480px; }

.camera_coffee_skin .camera_commands > .camera_play { background-position: -80px -480px; }

.camera_coffee_skin .camera_commands > .camera_stop { background-position: -120px -480px; }

/*CYAN SKIN*/
.camera_cyan_skin .camera_prevThumbs div { background-position: -160px -520px; }

.camera_cyan_skin .camera_nextThumbs div { background-position: -190px -520px; }

.camera_cyan_skin .camera_prev > span { background-position: 0 -520px; }

.camera_cyan_skin .camera_next > span { background-position: -40px -520px; }

.camera_cyan_skin .camera_commands > .camera_play { background-position: -80px -520px; }

.camera_cyan_skin .camera_commands > .camera_stop { background-position: -120px -520px; }

/*FUCHSIA SKIN*/
.camera_fuchsia_skin .camera_prevThumbs div { background-position: -160px -560px; }

.camera_fuchsia_skin .camera_nextThumbs div { background-position: -190px -560px; }

.camera_fuchsia_skin .camera_prev > span { background-position: 0 -560px; }

.camera_fuchsia_skin .camera_next > span { background-position: -40px -560px; }

.camera_fuchsia_skin .camera_commands > .camera_play { background-position: -80px -560px; }

.camera_fuchsia_skin .camera_commands > .camera_stop { background-position: -120px -560px; }

/*GOLD SKIN*/
.camera_gold_skin .camera_prevThumbs div { background-position: -160px -600px; }

.camera_gold_skin .camera_nextThumbs div { background-position: -190px -600px; }

.camera_gold_skin .camera_prev > span { background-position: 0 -600px; }

.camera_gold_skin .camera_next > span { background-position: -40px -600px; }

.camera_gold_skin .camera_commands > .camera_play { background-position: -80px -600px; }

.camera_gold_skin .camera_commands > .camera_stop { background-position: -120px -600px; }

/*GREEN SKIN*/
.camera_green_skin .camera_prevThumbs div { background-position: -160px -640px; }

.camera_green_skin .camera_nextThumbs div { background-position: -190px -640px; }

.camera_green_skin .camera_prev > span { background-position: 0 -640px; }

.camera_green_skin .camera_next > span { background-position: -40px -640px; }

.camera_green_skin .camera_commands > .camera_play { background-position: -80px -640px; }

.camera_green_skin .camera_commands > .camera_stop { background-position: -120px -640px; }

/*GREY SKIN*/
.camera_grey_skin .camera_prevThumbs div { background-position: -160px -680px; }

.camera_grey_skin .camera_nextThumbs div { background-position: -190px -680px; }

.camera_grey_skin .camera_prev > span { background-position: 0 -680px; }

.camera_grey_skin .camera_next > span { background-position: -40px -680px; }

.camera_grey_skin .camera_commands > .camera_play { background-position: -80px -680px; }

.camera_grey_skin .camera_commands > .camera_stop { background-position: -120px -680px; }

/*INDIGO SKIN*/
.camera_indigo_skin .camera_prevThumbs div { background-position: -160px -720px; }

.camera_indigo_skin .camera_nextThumbs div { background-position: -190px -720px; }

.camera_indigo_skin .camera_prev > span { background-position: 0 -720px; }

.camera_indigo_skin .camera_next > span { background-position: -40px -720px; }

.camera_indigo_skin .camera_commands > .camera_play { background-position: -80px -720px; }

.camera_indigo_skin .camera_commands > .camera_stop { background-position: -120px -720px; }

/*KHAKI SKIN*/
.camera_khaki_skin .camera_prevThumbs div { background-position: -160px -760px; }

.camera_khaki_skin .camera_nextThumbs div { background-position: -190px -760px; }

.camera_khaki_skin .camera_prev > span { background-position: 0 -760px; }

.camera_khaki_skin .camera_next > span { background-position: -40px -760px; }

.camera_khaki_skin .camera_commands > .camera_play { background-position: -80px -760px; }

.camera_khaki_skin .camera_commands > .camera_stop { background-position: -120px -760px; }

/*LIME SKIN*/
.camera_lime_skin .camera_prevThumbs div { background-position: -160px -800px; }

.camera_lime_skin .camera_nextThumbs div { background-position: -190px -800px; }

.camera_lime_skin .camera_prev > span { background-position: 0 -800px; }

.camera_lime_skin .camera_next > span { background-position: -40px -800px; }

.camera_lime_skin .camera_commands > .camera_play { background-position: -80px -800px; }

.camera_lime_skin .camera_commands > .camera_stop { background-position: -120px -800px; }

/*MAGENTA SKIN*/
.camera_magenta_skin .camera_prevThumbs div { background-position: -160px -840px; }

.camera_magenta_skin .camera_nextThumbs div { background-position: -190px -840px; }

.camera_magenta_skin .camera_prev > span { background-position: 0 -840px; }

.camera_magenta_skin .camera_next > span { background-position: -40px -840px; }

.camera_magenta_skin .camera_commands > .camera_play { background-position: -80px -840px; }

.camera_magenta_skin .camera_commands > .camera_stop { background-position: -120px -840px; }

/*MAROON SKIN*/
.camera_maroon_skin .camera_prevThumbs div { background-position: -160px -880px; }

.camera_maroon_skin .camera_nextThumbs div { background-position: -190px -880px; }

.camera_maroon_skin .camera_prev > span { background-position: 0 -880px; }

.camera_maroon_skin .camera_next > span { background-position: -40px -880px; }

.camera_maroon_skin .camera_commands > .camera_play { background-position: -80px -880px; }

.camera_maroon_skin .camera_commands > .camera_stop { background-position: -120px -880px; }

/*ORANGE SKIN*/
.camera_orange_skin .camera_prevThumbs div { background-position: -160px -920px; }

.camera_orange_skin .camera_nextThumbs div { background-position: -190px -920px; }

.camera_orange_skin .camera_prev > span { background-position: 0 -920px; }

.camera_orange_skin .camera_next > span { background-position: -40px -920px; }

.camera_orange_skin .camera_commands > .camera_play { background-position: -80px -920px; }

.camera_orange_skin .camera_commands > .camera_stop { background-position: -120px -920px; }

/*OLIVE SKIN*/
.camera_olive_skin .camera_prevThumbs div { background-position: -160px -1080px; }

.camera_olive_skin .camera_nextThumbs div { background-position: -190px -1080px; }

.camera_olive_skin .camera_prev > span { background-position: 0 -1080px; }

.camera_olive_skin .camera_next > span { background-position: -40px -1080px; }

.camera_olive_skin .camera_commands > .camera_play { background-position: -80px -1080px; }

.camera_olive_skin .camera_commands > .camera_stop { background-position: -120px -1080px; }

/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div { background-position: -160px -960px; }

.camera_pink_skin .camera_nextThumbs div { background-position: -190px -960px; }

.camera_pink_skin .camera_prev > span { background-position: 0 -960px; }

.camera_pink_skin .camera_next > span { background-position: -40px -960px; }

.camera_pink_skin .camera_commands > .camera_play { background-position: -80px -960px; }

.camera_pink_skin .camera_commands > .camera_stop { background-position: -120px -960px; }

/*PISTACHIO SKIN*/
.camera_pistachio_skin .camera_prevThumbs div { background-position: -160px -1040px; }

.camera_pistachio_skin .camera_nextThumbs div { background-position: -190px -1040px; }

.camera_pistachio_skin .camera_prev > span { background-position: 0 -1040px; }

.camera_pistachio_skin .camera_next > span { background-position: -40px -1040px; }

.camera_pistachio_skin .camera_commands > .camera_play { background-position: -80px -1040px; }

.camera_pistachio_skin .camera_commands > .camera_stop { background-position: -120px -1040px; }

/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div { background-position: -160px -80px; }

.camera_pink_skin .camera_nextThumbs div { background-position: -190px -80px; }

.camera_pink_skin .camera_prev > span { background-position: 0 -80px; }

.camera_pink_skin .camera_next > span { background-position: -40px -80px; }

.camera_pink_skin .camera_commands > .camera_play { background-position: -80px -80px; }

.camera_pink_skin .camera_commands > .camera_stop { background-position: -120px -80px; }

/*RED SKIN*/
.camera_red_skin .camera_prevThumbs div { background-position: -160px -1000px; }

.camera_red_skin .camera_nextThumbs div { background-position: -190px -1000px; }

.camera_red_skin .camera_prev > span { background-position: 0 -1000px; }

.camera_red_skin .camera_next > span { background-position: -40px -1000px; }

.camera_red_skin .camera_commands > .camera_play { background-position: -80px -1000px; }

.camera_red_skin .camera_commands > .camera_stop { background-position: -120px -1000px; }

/*TANGERINE SKIN*/
.camera_tangerine_skin .camera_prevThumbs div { background-position: -160px -1120px; }

.camera_tangerine_skin .camera_nextThumbs div { background-position: -190px -1120px; }

.camera_tangerine_skin .camera_prev > span { background-position: 0 -1120px; }

.camera_tangerine_skin .camera_next > span { background-position: -40px -1120px; }

.camera_tangerine_skin .camera_commands > .camera_play { background-position: -80px -1120px; }

.camera_tangerine_skin .camera_commands > .camera_stop { background-position: -120px -1120px; }

/*TURQUOISE SKIN*/
.camera_turquoise_skin .camera_prevThumbs div { background-position: -160px -1160px; }

.camera_turquoise_skin .camera_nextThumbs div { background-position: -190px -1160px; }

.camera_turquoise_skin .camera_prev > span { background-position: 0 -1160px; }

.camera_turquoise_skin .camera_next > span { background-position: -40px -1160px; }

.camera_turquoise_skin .camera_commands > .camera_play { background-position: -80px -1160px; }

.camera_turquoise_skin .camera_commands > .camera_stop { background-position: -120px -1160px; }

/*VIOLET SKIN*/
.camera_violet_skin .camera_prevThumbs div { background-position: -160px -1200px; }

.camera_violet_skin .camera_nextThumbs div { background-position: -190px -1200px; }

.camera_violet_skin .camera_prev > span { background-position: 0 -1200px; }

.camera_violet_skin .camera_next > span { background-position: -40px -1200px; }

.camera_violet_skin .camera_commands > .camera_play { background-position: -80px -1200px; }

.camera_violet_skin .camera_commands > .camera_stop { background-position: -120px -1200px; }

/*WHITE SKIN*/
.camera_white_skin .camera_prevThumbs div { background-position: -160px -80px; }

.camera_white_skin .camera_nextThumbs div { background-position: -190px -80px; }

.camera_white_skin .camera_prev > span { background-position: 0 -80px; }

.camera_white_skin .camera_next > span { background-position: -40px -80px; }

.camera_white_skin .camera_commands > .camera_play { background-position: -80px -80px; }

.camera_white_skin .camera_commands > .camera_stop { background-position: -120px -80px; }

/*YELLOW SKIN*/
.camera_yellow_skin .camera_prevThumbs div { background-position: -160px -1240px; }

.camera_yellow_skin .camera_nextThumbs div { background-position: -190px -1240px; }

.camera_yellow_skin .camera_prev > span { background-position: 0 -1240px; }

.camera_yellow_skin .camera_next > span { background-position: -40px -1240px; }

.camera_yellow_skin .camera_commands > .camera_play { background-position: -80px -1240px; }

.camera_yellow_skin .camera_commands > .camera_stop { background-position: -120px -1240px; }

.camera_pag_wrapper { width: 100%; position: absolute; bottom: 0px; left: 0; z-index: 100; }

.camera_pag { text-align: center; }
.camera_pag ul { display: inline-block; }

.camera_wrap { margin-bottom: 0px !important; }

.camera_wrap .camera_pag .camera_pag_ul li { background: #666; }
.camera_wrap .camera_pag .camera_pag_ul .cameracurrent { background: #fff; }
.camera_wrap .camera_pag .camera_pag_ul .cameracurrent > span { background: transparent !important; }

#container-entries-home .vc_span8 .wpb_content_element { margin-right: 20px; }

#crsWrapper1 { float: left; width: 100%; position: relative; margin: 40px 0 0px; }

.crsArrow { position: absolute; top: 48.5px; display: block; }

#crs1_left { left: 0px; }

#crs1_right { right: 0px; }

#crsInner1 { margin: auto; }
#crsInner1 li { margin-right: 10px; }

.wpb_image_grid .wpb_image_grid_ul .isotope-item { margin: 0 5px 5px 0 !important; }

.flexslider .slides img { height: 425px !important; }

.vcsp_text_simple_title * { margin-bottom: 0 !important; }

.vc_bottom_margin { margin-bottom: 10px !important; }

.vc_field_border { padding: 0 0 0 25px; border-left: 1px solid #ccc; }

.two_columns .wpb_text_column { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; -webkit-column-gap: 30px; -moz-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px; column-gap: 30px; }

.three_columns .wpb_text_column { -webkit-column-count: 3; -moz-column-count: 3; -ms-column-count: 3; -o-column-count: 3; column-count: 3; -webkit-column-gap: 30px; -moz-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px; column-gap: 30px; }

.four_columns .wpb_text_column { -webkit-column-count: 4; -moz-column-count: 4; -ms-column-count: 4; -o-column-count: 4; column-count: 4; -webkit-column-gap: 30px; -moz-column-gap: 30px; -ms-column-gap: 30px; -o-column-gap: 30px; column-gap: 30px; }

.small_gallery { width: 345px !important; }

.second_col { width: 245px !important; }

.third_col { width: 263px !important; }

.vc_span_2_4 { width: 48.75% !important; }

.vc_jcarousel { position: relative; }
.vc_jcarousel li { list-style: none !important; margin: 0 5px; }
.vc_jcarousel .vc_jcarousel_content { margin: auto; }
.vc_jcarousel .crsArrow { position: absolute; display: block; }

.crs_1 .crsArrow { top: 30px; }
.crs_1 .crsArrowLeft { left: 0; }
.crs_1 .crsArrowRight { right: 0; }
